[defaults]
host_key_checking  = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
gather_facts = true
interpreter_python = auto
ansible_user = user

[connection]
pipelining = True

[ssh_connection]
pipelining = True
